<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>购物车</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div id="app" v-cloak>
    <template v-if="list.length">
        <table>
            <tbody v-for="(tableitem,tableindex) in list">
            <tr>
                <th></th>
                <th>是否选中</th>
                <th>商品类别</th>
                <th>商品名称</th>
                <th>商品单价</th>
                <th>购买数量</th>
                <th>操作</th>
            </tr>
            <tr v-for="(item,index) in tableitem.product">

                <td>{{ index +1 }}</td>
                <td>
                    <input type="checkbox"
                    @click="handleSelect(tableindex,index,event)"/>
                </td>
                <td>{{ tableitem.category}}</td>
                <td>{{ item.name}}</td>
                <td>{{ item.price}}</td>
                <td>
                    <button
                        @click="handleReduce(tableindex,index)"
                        :disabled="item.count===1">-</button>
                    {{ item.count }}
                    <button
                        @click="handleAdd(tableindex,index)">+</button>
                </td>
                <td>
                    <button @click="handleRemove(tableindex,index)">移除</button>
                </td>
            </tr>
            </tbody>
        </table>
        <div>总价： ￥ {{totalPriceSel}}</div>
    </template>
    <div v-else>购物车为空</div>
</div>
<script src="https://unpkg.com/vue/dist/vue.min.js"></script>
<script src="index.js"></script>
</body>
</html>
